/*
   IMAGE ORIENTATION
*/

  .img-orientation-none  { image-orientation: none; }
  .img-orientation { image-orientation: from-image; }

@media screen and (min-width: 32em) {
  .img-orientation-none-s  { image-orientation: none; }
  .img-orientation-s { image-orientation: from-image; }
}

@media screen and (min-width:48em) {
  .img-orientation-none-m  { image-orientation: none; }
  .img-orientation-m { image-orientation: from-image; }
}

@media screen and (min-width: 96em) {
  .img-orientation-none-l  { image-orientation: none; }
  .img-orientation-l { image-orientation: from-image; }
}

